# Polaroid Configuration File
#
# Blank lines and lines starting with # will be ignored.

# File Locations
#
# Full pathnames are required.
# The order of the files given here will be preserved in the PNGs.
BAM /Users/ekwan/research/MutForest/raw/MGH086-NL.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-N.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-000.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-00.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-0.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-1.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-2.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-3.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-4.bam
BAM /Users/ekwan/research/MutForest/raw/MGH086-5.bam
SNAPSHOT_DIRECTORY /Users/ekwan/software/polaroid/snapshots

# IGV Connection Parameters
IGV_IP 127.0.0.1
IGV_PORT 60151

# How long to wait between commands (in seconds).  Increase for larger jobs.
DELAY 3

# Genomic Locations
#
# Should be specified like: chr1:101987133
# One per line.
chr1:101987133
chr1:104199470
chr1:104237744
chr1:111296345
